@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-300 text-black transition-colors duration-300 dark:bg-neutral-900 dark:text-white;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-600;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-950;
    box-shadow: inset 2px 0px 1px rgb(20, 17, 21);
  }

  .conversations-scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .conversations-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .conversations-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-transparent group-hover:bg-neutral-600;
    box-shadow: none;
  }
}

@layer components {
  .message ul {
    list-style: disc;
    list-style-position: inside;
  }

  .message ol {
    list-style: decimal;
    list-style-position: inside;
  }

  .message li > * {
    padding-left: 10px;
  }
}

@layer components {
  .animate-hide-screen {
    animation: hideScreenAnimation 1000ms ease-in-out forwards;
    transform-origin: 0 0;
  }

  @keyframes hideScreenAnimation {
    0% {
      @apply max-h-full;
    }

    60% {
      @apply max-h-16;
    }

    70% {
      @apply max-h-16 opacity-100;
    }

    100% {
      @apply max-h-16 opacity-0;
    }
  }
}

@layer components {
  .animate-cloud {
    animation: cloudAnimation 20s ease-in-out infinite;
  }

  @keyframes cloudAnimation {
    0% {
      @apply bg-red-500;
      transform: scale(100%);
    }

    10% {
      @apply bg-yellow-500;
    }

    20% {
      @apply bg-green-500;
    }

    30% {
      @apply bg-blue-500;
    }

    40% {
      @apply bg-purple-500;
    }

    50% {
      @apply bg-violet-800;
      transform: scale(120%);
    }

    60% {
      @apply bg-purple-500;
    }

    70% {
      @apply bg-blue-500;
    }

    80% {
      @apply bg-green-500;
    }

    90% {
      @apply bg-yellow-500;
    }

    100% {
      @apply bg-red-500;
      transform: scale(100%);
    }
  }
}
